#header {
    width: 800px;
    height: 80px;
    background-color: red;
}

#body {
    margin: 25px;
    overflow: hidden;
}

#content {
    width: 400px;
    float: left;
}

#ad {
    width: 150px;
    float: left;
}

#navigation {
    width: 150px;
    float: left;
}

#footer {
    width: 800px;
    height: 80px;
    background-color: red;
}